body{
	color: white;
	font-family: 'Lato', sans-serif;
}
#pre-footer{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
	background-color: #70CAC1;
}
.footer-container{
	background-color: #6C6C6C;
	height: 70px;
}
#map{
	display: flex;

}
#submit{
	background-color: #E79462;
	border:0px;
}
input{
	border:0px;
}
.contacto{

}
.contacto-form{
	align-items: flex-end;
}